<ion-content class="auth-content">
  <div class="responsive-container">
    <div class="auth-card">
      <div class="brand-header">
        <h1 class="brand-title">SkillUp</h1>
        <p class="brand-subtitle">
          Scegli una nuova password per il tuo account
        </p>
      </div>

      <div>
        <div class="custom-input-box" [class.input-error]="errorePassword">
          <ion-icon name="lock-closed-outline" class="input-icon"></ion-icon>
          <ion-input
            type="password"
            mode="ios"
            placeholder="Nuova password"
            [(ngModel)]="nuovaPassword"
            (ionInput)="resettaMessaggi()"
          ></ion-input>
        </div>

        <div
          class="custom-input-box"
          [class.input-error]="erroreConfermaPassword"
        >
          <ion-icon name="lock-closed-outline" class="input-icon"></ion-icon>
          <ion-input
            type="password"
            mode="ios"
            placeholder="Conferma nuova password"
            [(ngModel)]="confermaNuovaPassword"
            (ionInput)="resettaMessaggi()"
          ></ion-input>
        </div>

        @if (messaggioErrore) {
        <div class="error-message-container">
          <ion-icon name="alert-circle-outline"></ion-icon>
          <span>{{ messaggioErrore }}</span>
        </div>
        }

        @if (messaggioSuccesso) {
        <div class="success-message-container">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          <span>{{ messaggioSuccesso }}</span>
        </div>
        }

        <ion-button
          expand="block"
          class="main-auth-btn"
          [disabled]="isLoading || !!messaggioSuccesso"
          (click)="confermaModificaPassword()"
        >
          Conferma
          <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
