<div class="tutor-card" (click)="vediProfilo()">
  <div class="card-header">
    <div class="avatar-container">
      @if (tutor.image) {
        <img [src]="tutor.image" alt="avatar" />
      } @else {
        <div class="avatar-placeholder">
          {{ inizialiTutor() }}
        </div>
      }
    </div>

    <div class="subjects-container">
      @for (materia of tutor.subjects; track materia) {
        <div class="subject-badge">{{ materia }}</div>
      }
    </div>
  </div>

  <h3 class="tutor-name">{{ tutor.name }}</h3>

  <div class="languages-box">
    @for (lingua of tutor.languages; track lingua) {
      <span class="card-lang-badge">{{ lingua }} </span>
    }
  </div>

  <p class="tutor-bio">{{ tutor.bio }}</p>

  <div class="card-footer">
    <div class="rating">
      <ion-icon name="star"></ion-icon>
      <strong>{{ tutor.rating }}</strong>
      <span class="reviews">({{ tutor.reviews }})</span>
    </div>

    <div class="price">
      <strong>€{{ tutor.price }}</strong
      >/ora
    </div>
  </div>
</div>
